/* CSS Document - Developed by Mor Vimmer */
/* COLOR SCHEME - ASTRO */

/***
COLORS:
#883397- light green
#5F4282 - dark green 
#666699 - left nav hover

/******
BACKGROUND IMAGES
******/
#page-wrapper{background:url(../images/background/bg-astro_light.jpg) no-repeat center top;}
/* #page-wrapper{background:url(../images/background/bg-astro.jpg) no-repeat center top;} */
#topMenu a, #topMenu{background:url(../images/top-navbar/astro_bgnav.png) repeat-x scroll center top transparent;}
#leftnav{background:url(../images/left-navigation/ln_astro_off.png) repeat left top;}

/******
TOP NAVIGATION
*****/

#menu li:hover ul.sub li a:hover, #menu ul.sub a.active  {
	background:#883397; 
	color:#fff; 
	border-color:#000;

	}

/******
LEFT NAVIGATION
******/
 #leftnav a:hover, #leftnav .active{background:  #5F4282; }
#leftnav ul.subnav a.active:hover{	background:#666699 url(../images/smallminus_active.gif) 22px 6px no-repeat;}

/******
headers
******/
#content-wrapper h2, #quickLinks h2{border-bottom:2px solid #883397;}

/*****
FOOTER
*****/
#footer{
	border-top:8px solid #5F4282;
}
