/* CSS Document - Developed by Mor Vimmer */
/* COLOR SCHEME - EARTH */

/***
COLORS:
#1C7D5B - light green
#064314 - dark green
#448462 - left nav hover

/******
BACKGROUND IMAGES
******/
#page-wrapper{background:url(../images/background/bg-earth.jpg) no-repeat center top;}
#topMenu a, #topMenu{background:url(../images/top-navbar/earth_bgnav.png) repeat-x scroll center top transparent;}
#leftnav{background:url(../images/left-navigation/ln_earth_off.png) repeat left top;}

/******
TOP NAVIGATION
*****/

#menu li:hover ul.sub li a:hover, #menu ul.sub a.active  {
	background:#1C7D5B; 
	color:#fff; 
	border-color:#000;

	}

/******
LEFT NAVIGATION
******/
 #leftnav a:hover, #leftnav .active{background:  #1C7D5B; }
#leftnav ul.subnav a.active:hover{	background:#448462 url(../images/smallminus_active.gif) 22px 6px no-repeat;}

/******
headers
******/
#content-wrapper h2, #quickLinks h2{border-bottom:2px solid #1C7D5B;}

/*****
FOOTER
*****/
#footer{
	border-top:8px solid #448462;
}