/* CSS Document - Developed by Mor Vimmer */
/* COLOR SCHEME - HELIO */

/***
COLORS:
#FFA50A- light orange
#CA8308 - dark orange 
#ffa50a - left nav hover

/******
BACKGROUND IMAGES
******/
#page-wrapper{background:url(../images/background/bg-helio.png) no-repeat center top;}
#topMenu a, #topMenu{background:url(../images/top-navbar/helio_bgnav.png) repeat-x scroll center top transparent;}
#leftnav{background:url(../images/left-navigation/ln_helio_off.png) repeat left top;}

/******
TOP NAVIGATION
*****/

#menu li:hover ul.sub li a:hover, #menu ul.sub a.active  {
	background:#CA8308; 
	color:#fff; 
	border-color:#000;

	}

/******
LEFT NAVIGATION
******/
 #leftnav a:hover, #leftnav .active{background:  #CA8308; }
#leftnav ul.subnav a.active:hover{	background:#ffa50a url(../images/smallminus_active.gif) 22px 6px no-repeat;}

/******
headers
******/
#content-wrapper h2, #quickLinks h2 {border-bottom:2px solid #FFA50A;}

/*****
FOOTER
*****/
#footer{
	border-top:8px solid #FFA50A;
}